body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(135, 206, 235), rgb(255, 182, 193)); /* Градиентный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    color: rgb(34, 34, 34); /* Черный цвет */
    margin-bottom: 20px;
}

form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(34, 34, 34); /* Черный цвет */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(240, 248, 255); /* Светло-голубой */
    color: rgb(34, 34, 34); /* Черный цвет текста */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: rgb(0, 90, 204);
}
